@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="AdministrationView">
    @*TODO: Add menu
            <div class="left">
            <div class="menu">
                <div>Posts</div>
            </div>
        </div>

        <div class="right">
            <div class="content">
                <h3>Bla bla</h3>
            </div>
        </div>
    *@
    <div class="main">
        @RenderBody()
    </div>

</div>
@RenderSection("Scripts", required: false)