@using Microsoft.AspNetCore.Hosting
@using System.Security.Cryptography
@using System.IO
@using System.Text

@inject IHostingEnvironment hostingEnvironment

@model EditPostViewModel
@{
    Layout = "~/Views/Manage/_Layout.cshtml";

    string version = string.Empty;
    MD5 md5 = MD5.Create();

    using (var stream = File.OpenRead(hostingEnvironment.WebRootPath + "/css/tinymce/tinymce.min.css"))
    {
        version = Convert.ToBase64String(md5.ComputeHash(stream)).TrimEnd('=');
    }

}
<div class="NewPost">
    <form asp-area="" asp-controller="Posts" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <input asp-for="Title" class="title" placeholder="Titre" />
        <div class="publishcontainer">
            <div class="publishblock">
                Publication:
                <input type="date" asp-for="PublishDate" class="publishdate" />
            </div>
            <div class="publishblock">
                Révision:
                <input type="date" asp-for="RevisionDate" class="publishdate" />
            </div>
        </div>
        @Html.DropDownListFor(m => m.CategoryId, Model.Categories, "Catégorie", new { @class = "categorie" })
<textarea asp-for="Content" id="PostContent"></textarea>
        <div class="tags" id="tags">
            @foreach (string tag in Model.Tags)
            {
                <span>
                    @tag
                    <span class="close" data-tag="@tag">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </span>
            }
            <input id="TagSelector" type="text" placeholder="Add tag here" />
            <div id="AutoCompleteTab" class="AutoCompleteTab" style="display:none"></div>
            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                <input type="hidden" name="Tags[@i]" value="@Model.Tags[i]" />
            }
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script>
    tinymce.init({
        selector: '#PostContent',
        theme: 'modern',
        width: 748,
        height: 500,
        content_css: '/css/tinymce/tinymce.min.css?v=@(version)',
        plugins: "code,codesample",
        //toolbar: "codesample",
        codesample_content_css: '/css/prism.css'
    });
    tagCount = @Model.Tags.Count;
    </script>
}